@charset "UTF-8";
@import url(animate.css);
body{position:relative;font:14px "Mitr";background:#F1F1F1;color:#404041;padding-top:78px;overflow-x:hidden}
body>.container{position:relative;padding:0}
*, ul, ol, * li{padding:0;margin:0;list-style-type:none}
h1, h2, h3, h4, h5, h6{font-family:"Mitr", tahoma, Arial, sans-serif;margin:0;line-height:normal}
a{color:#07548a}
a:hover{color:#07548a;text-decoration:underline}
a:focus{text-decoration:none}
img{max-width:100%}
fieldset{border:none;margin:0;padding:0}
address{font-style:normal}
/*home*/

/*.page-home [id="header"]{position:absolute;top:0;left:0;right:0;background:#fada4b;z-index:199}
.page-home [id="header"] .logo{position:absolute;top:0;right:10px;height:55px;width:150px;}
.page-home [id="header"] .logo>a{display:block;position:absolute;top:0;left:0;right:0;bottom:0;z-index:2;text-indent:-9999px;overflow:hidden}
.page-home [id="header"] .logo>img{display:block;position:relative;z-index:1;max-height:127px;max-width:100%}
.page-home [id="header"] .top-title{display:inline-block;min-width:270px;text-align:center;padding:0 10px;position:relative;background:#1e5385;color:#fff;font-size:24px;line-height:60px;}
.page-home [id="header"] .top-title:after{ content:"";position:absolute;top:0;right:-40px;border-top:60px solid #1e5385;border-right:40px solid transparent}*/

/*header*/
[id*="header"]{position:absolute;left:0;right:0;top:0;z-index:199;transition:.3s all ease;-webkit-transition:.3s all ease;background:#fff;box-shadow:0 3px 3px rgba(0,0,0,0.1);/*padding-bottom:50px;background:-moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.55) 81%, rgba(255,255,255,0) 100%);background:-webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.55) 81%,rgba(255,255,255,0) 100%);background:linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.55) 81%,rgba(255,255,255,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );*/
}
[id*="header"].fixed{position:fixed;animation:sd-InDown .25s 1 linear!important;-webkit-animation:sd-InDown .25s 1 linear!important;}
[id*="header"]>.container{position:relative;width:auto;max-height:100%;display:flex;flex-flow:row nowrap;}
[id*="header"] .top-title{ width:25%;max-width:300px;}
[id*="header"] .top-title .logo{position:relative;display:block;padding:0 10px;}
/*[id*="header"] .top-title .logo:after{ content:"";position:absolute;top:0;right:-50px;border-top:78px solid #07b53a;border-right:50px solid transparent}*/
.main-nav{position:relative;z-index:199;flex:1 1 0}
.main-nav>ul{margin:0;padding:0}
.main-nav>ul>li{position:relative}
.main-nav>ul>li>a{display:block;color:#222;padding:0;font-size:16px;font-weight:400;line-height:40px;text-shadow:1px 1px 1px rgba(0,0,0,0.1);text-decoration:none}
.main-nav>ul>li ul{display:none}
.main-nav>ul>li ul>li{padding:0 10px;border-bottom:1px dashed rgba(0,0,0,0.15)}
.main-nav>ul>li ul>li:last-child{border-bottom:none}
.main-nav>ul>li ul>li>a{position:relative;display:block;padding:8px 8px 8px 20px;text-decoration:none}
.main-nav>ul>li ul>li>a:before{ position:absolute;top:14px;left:5px;content:"";display:block;width:5px;height:5px;background:#07b53a;vertical-align:middle;margin-right:10px}
[id*="header"] [class*="btn-nv"]{position:absolute;top:0;right:0;display:none;width:50px;height:50px;text-align:center;line-height:50px;color:#555;font-size:30px;z-index:300}
[id*="header"] [class*="btn-nv"] a{display:block;height:100%;color:#555}
[id*="header"] [class*="btn-nv"] span{position:absolute;display:block;width:60%;height:2px;top:30%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);background:rgba(0,0,0,0.3);transition:.4s all ease;-webkit-transition:.4s all ease}
[id*="header"] [class*="btn-nv-m"] span:nth-child(2){top:50%}
[id*="header"] [class*="btn-nv-m"] span:nth-child(3){top:70%}
.expand [id*="header"] [class*="btn-nv-m"] a{background:rgba(255,255,255,0.3)}
.expand [id*="header"] [class*="btn-nv-m"] span:nth-child(2){display:none}
.expand [id*="header"] [class*="btn-nv-m"] span:nth-child(1){top:50%;left:20%;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.expand [id*="header"] [class*="btn-nv-m"] span:nth-child(3){top:50%;left:20%;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.sw-nav{position:relative;text-align:center}
.sw-nav>a{text-decoration:none}
.sw-nav>a.btn.active:before{content:"";display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(255,255,255,0.5)}
.sw-nav>a>i{display:block;width:60px;height:60px;font-size:32px;line-height:60px;text-align:center;color:#979797}

@-webkit-keyframes sd-InDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes sd-InDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@media (min-width:801px){
[id*="header"]{z-index:199}
[id*="header"] .top-title .logo{max-height:none;max-width:none;margin:0;max-height:90px;padding:15px 30px}
[class*="logo"] img{display:block;max-height:none;margin:0;max-height:60px;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out}
[id*="header"].fixed [class*="logo"] img{height:40px;}
.home [id*="header"].fixed{min-height:inherit}
[id*="header"].fixed .top-title .logo:after{ border-top-width: 70px}
/*.#header #navigation{flex-basis:100%;max-width:100%}
home [id*="header"].fixed{position:absolute}*/
[id*="header"] > .container{align-content:flex-end;align-items:center}
#header #navigation{padding:0 30px}
/*[id*="header"].fixed #navigation.main-nav>ul>li>a{color:#222}
[id*="header"].fixed .top-title .logo:after{border-top-width:70px}*/
.main-nav{display:flex;height:100%;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:flex-end;text-align:center;-ms-flex-align:center;-webkit-box-align:center;align-items:center}
.main-nav>ul{text-align:left;justify-content:flex-end}
.main-nav>ul>li{position:relative;flex-basis:auto !important;flex-grow:0 !important;padding:0 20px!important}
.main-nav>ul>li.home{display:none}
/*.main-nav>ul>li>a{color:#fff}*/
.main-nav>ul>li>a{position:relative;padding:0}
.main-nav>ul>li>a.selected,.main-nav>ul>li>a.active{/*color:#5b8fd8;background:#b2d236*/}
/*.main-nav>ul>li:last-child>a{padding-right:0}*/
.main-nav>ul>li>a:hover{opacity: .75}
/*.main-nav>ul>li>a:hover{color:#fff}
.main-nav>ul>li>a:hover:after,.main-nav>ul>li>a.active:after{content:"";display:block;position:absolute;bottom:0;height:3px;left:0;right:0;background:#fff}*/
.main-nav>ul>li ul{position:absolute;top:100%;left:0;width:250px;padding:5px;background:rgba(255,255,255,0.95);box-shadow:0 3px 3px rgba(0,0,0,0.3)}
.main-nav>ul>li ul>li{position:relative}
.main-nav>ul>li>ul>li:hover{background:#367ab7}
.main-nav>ul>li>ul>li:hover>a{color:#fff}
.main-nav>ul>li:hover>ul{display:block}
.main-nav > ul > li ul > li > a{color:#454545}
.main-nav>ul>li ul ul{display:none;position:absolute;top:0;left:100%;margin:-5px 0 0 5px;width:250px;padding:10px;background:#f3f4f8;box-shadow:0 2px 2px rgba(0,0,0,0.2);z-index:199}
.main-nav>ul>li ul>li:hover>ul{display:block;}
.main-nav>ul>li ul ul:before{ content:"";display:block;border-right:10px solid #f3f4f8;border-top:10px solid transparent;border-bottom:10px solid transparent;position:absolute;top:13px;left:-10px;}
.main-nav>ul>li ul ul>li>a{ display:block;margin:0 -20px;padding-left:35px}
.main-nav>ul>li ul ul>li>a:before{ left:17px}
.main-nav>ul>li ul ul>li>a:hover{background:rgba(0,0,0,0.05);text-decoration:none}
}

@media (max-width:800px){
.page-home{padding-top:50px;background-size:contain}
body.expand{overflow:hidden;max-height:100vh}
[id="header"]{z-index:201;min-height:50px;}
[id*="header"] .top-title{width:35%}
[id*="header"] .top-title .logo{height:50px;padding:10px 20px;}
[id*="header"] .top-title .logo:after{ border-top-width:50px}
[id="header"] [class*="logo"] img{height:30px;margin-top:0;max-width: none}
[id="header"].fixed [class*="logo"] img{height:30px;margin-top:0}
[id*="header"] [class*="btn-nv"] span{background:#2f7aba}
.main-nav{z-index:202}
.expand .main-nav{z-index:auto}
[id*="header"] [class*="btn-nv"]{display:block}
.main-nav>ul{display:none;visibility:hidden;position:fixed;top:50px;right:0;bottom:0;width:100%;max-width:480px;overflow:auto;background:#fff;z-index:199}
[id="header"].fixed .main-nav>ul{ top:50px}
.expand .main-nav>ul{display:block;visibility:visible;box-shadow:-10px 10px 10px rgba(0,0,0,0.2)}
.main-nav>ul>li.sub:after{content:"\f105";display:block;position:absolute;top:5px;right:5px;width:40px;height:42px;color:#eadc01;font:32px/42px "FontAwesome";text-align:center;z-index:-1;transform:rotate(90deg);-webkit-transform:rotate(90deg)}
.main-nav>ul>li{position:relative;padding:0!important;text-align:left;border-bottom:1px solid rgba(255,255,255,0.5)}
.main-nav>ul>li>a{padding:15px 20px;color:#222}
.main-nav>ul>li>a.selected,.main-nav>ul>li>a.active{color:#07548a;background:#D7DF23}
/*.main-nav>ul>li:after{content:"";display:block;position:absolute;left:0;right:0;bottom:0;width:100%;height:1px;background:-moz-linear-gradient(left,  rgba(218,2,207,1) 0%, rgba(255,252,39,1) 51%, rgba(22,210,248,1) 100%);background:-webkit-linear-gradient(left,  rgba(218,2,207,1) 0%,rgba(255,252,39,1) 51%,rgba(22,210,248,1) 100%);background:linear-gradient(to right,  rgba(218,2,207,1) 0%,rgba(255,252,39,1) 51%,rgba(22,210,248,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#da02cf', endColorstr='#16d2f8',GradientType=1 )}*/
.main-nav>ul>li>ul,[id*="header"] .login ul{display:block}
.main-nav>ul>li>ul>li{border:none;border-top:1px dotted rgba(255,255,255,0.3);background:rgba(0,0,0,0.1)}
.main-nav>ul>li>ul>li>a{padding:10px 0 10px 20px;text-align:left;color:#eaeaea}
.sw-nav{height:50px;position:absolute;top:0;right:50px}
.sw-nav>a>i{width:50px;height:50px;font-size:24px;line-height:50px}
.sw-nav>a.btn.active:after{content:"X";display:block;position:fixed;top:0;right:0;width:50px;height:50px;background:#fff;color:#979797;font-size:32px;font-weight:100;line-height:50px;text-align:center}
}

.footer{position:relative;text-align:center;background:#07B53A;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,.5);font-size:12px;font-weight:200;padding:10px;z-index:99}

[class*="ui-btn"]{display:inline-block;padding:7px 20px;min-width:150px;font-size:16px;color:#fff;border:none;background:#3676b6;border-radius:.3em;-webkit-border-radius:.3em;text-decoration:none;}
[class*="ui-btn"][class*="-blue"]{background-color:#3676b6}
[class*="ui-btn"][class*="-green"]{background-color:#07b53a}
[class*="ui-btn"][class*="-gray"]{background-color:#eaeaea;color:#999}
[class*="ui-btn"][class*="-dark"]{background-color:#121212;color: #2cb900}
/*register*/
.page-register{padding-top: 0;background: #fff}
.page-register #header{display: none}
.page-register>.container{ display: flex; align-items: center;min-height: calc(100vh - 40px)}
.txt-box,.select-box,.txt-area{display:block; width: 100%; padding:10px 10px;line-height:25px;font-size:14px;border:1px solid #d1d2d4;border-radius:.5em;-webkit-border-radius:.5em;background:#fff;color:#121212;outline: none}
.fix-width{position: relative;width: 600px; margin-left: auto; margin-right: auto; max-width: 100%}
.fix-width .h-text{ color: #58595b}
.fix-width .h-text>small{display: block}
.form-regist fieldset{padding:20px}
.form-regist .rw{margin-bottom: 15px}
.form-regist a{text-decoration: none; color: #a7a8aa}
.form-regist a:hover{color: #86bd00}
/*popup*/
.thm-popup{display: none; width: 800px; max-width: 95%}
/*home*/
.page-home .warpper>[class*="sec-"]{ padding-top: 7vh; padding-bottom: 7vh}
.page-home .warpper>[class*="sec-"]:nth-child(2n){background: #f7f7f7}
.page-home .warpper>[class*="sec-5"]{background: #fff}
.msg-hl{}
.h-text{margin:0;font-size:200%; line-height: 130%; font-weight:400;color:#404041}
.h-text.t-white{color:#fff}
.text-titile{font-size:150%;line-height:120%}
.msg-hl .list{ list-style-type: none}
.msg-hl .list>li{position: relative; padding-left: 25px}
.msg-hl .list>li:before{ content: "";display: block; width: 5px;height: 5px; background: #07b53a; position: absolute; top: 11px; left: 10px; border-radius: 5em;-webkit-border-radius: 5em}
.sec-1 .container>figure{ margin-top: -30px; position: relative;z-index: 1}
.sec-1 .container>.msg-hl{position: relative;z-index: 2}
.feature-icon{}
.feature-icon>li{ padding: 30px 10px 10px; background:#f7f7f7; text-align: center;}
.feature-icon>li:nth-child(2n){background:#f2f2f2;}
i[class*="ic-feat"]{display:block; width: 64px; height: 54px; margin: 0 auto 15px;background:url("../di/ic-ft1.png") 50% 0 no-repeat;background-size: auto 100%}
i[class*="ic-feat1"]{ background-image:url("../di/ic-ft1.png")}
i[class*="ic-feat2"]{background-image:url("../di/ic-ft2.png")}
i[class*="ic-feat3"]{background-image:url("../di/ic-ft3.png")}
i[class*="ic-feat4"]{background-image:url("../di/ic-ft4.png")}
i[class*="ic-feat5"]{background-image:url("../di/ic-ft5.png")}
/*package*/
.page-package .warpper>[class*="sec-pk"]{min-height: calc(100vh - 120px);display: flex;align-items: center}
.page-package .warpper>[class*="sec-pk"]>*{}
.mz-chk{position:relative;}
.mz-chk input[type=checkbox],.mz-chk input[type=radio]{position:absolute;width:100%;height:100%;opacity:0}
.mz-chk input+label{position:relative;height:30px;line-height:30px;padding-left:25px;}
.mz-chk input+label:before{content:"";display:block;width:20px;height:20px;position:absolute;top:0;left:0;background:#fff;text-indent:-9999px;border: 1px solid #d1d2d4; cursor:pointer;border-radius:5em;-webkit-border-radius:5em}
.mz-chk input[type=checkbox]+label:before{border-radius:.2em;-webkit-border-radius:.2em}
.mz-chk input:checked+label:before{background:#fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 10 10'%3E%3Cpath fill='%230a9141' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat}
.mz-chk input[type=checkbox]:checked+label:before{background-color:#ebebeb;border-radius:.4em;-webkit-border-radius:.4em}
.pk-list[class*="_chd"][class*="-cl"]>li{}
.pk-list>li>.box{background: #20b5ac;color: #fff;padding-top: 20px; padding-bottom: 15px; width: 250px; max-width: 100%; margin: 0 auto}
.pk-list>li.pk2>.box{background: #e0c125;}
.pk-list>li.pk3>.box{background: #e12545;}
.pk-list>li.pk4>.box{background: #20b539;}
.pk-list>li>[class*="ui-btn"]{color: #21243b;border: 2px solid #20b5ac}
.pk-list>li.pk2>[class*="ui-btn"]{border-color: #e0c125}
.pk-list>li.pk3>[class*="ui-btn"]{border-color: #e12545}
.pk-list>li.pk4>[class*="ui-btn"]{border-color: #20b539}
.pk-list>li>[clss="ui-btn"]:hover{color: #fff}
.pk-list>li.pk1>[class*="ui-btn"]:hover{background-color: #20b5ac}
.pk-list>li.pk2>[class*="ui-btn"]:hover{background-color: #e0c125}
.pk-list>li.pk3>[class*="ui-btn"]:hover{background-color: #e12545}
.pk-list>li.pk4>[class*="ui-btn"]:hover{background-color: #20b539}
.pk-list>li>.box>p{position: relative;font-size: 11px; font-weight: 200; padding-bottom: 10px;}
.pk-list>li>.box>p:after{content:"";display: block;position: absolute; left: 15px;right: 15px;bottom:0px;border-bottom: 1px solid rgba(0,0,0,0.1)}
.pk-list>li>.box .price{}
.pk-list>li>.box .price .mz-chk label{position: relative;display: block;height: auto;padding-left: 0; font-size: 10px; font-weight: 200;text-align: left}
.pk-list>li>.box .price .mz-chk label h4,.pk-list>li>.box .price .mz-chk label>div big{font-size: 13px; font-weight: 400;}
.pk-list>li>.box .price .mz-chk label h4{ padding-left: 25px;}
.pk-list>li>.box .price .mz-chk label>div{white-space: nowrap}
/*payment*/
.page-checkout .warpper>[class*="sec-pay"]{background: #fff; min-height: calc(100vh - 120px); padding-top: 8vh; padding-bottom: 8vh}
.sec-pay .idTabs>li>a{padding-top: 0; padding-bottom: 2px; line-height: 38px; border:2px solid #186CA8; color:#186CA8}
.sec-pay .idTabs>li>a img{display:inline-block;vertical-align: middle}
.sec-pay .idTabs>li>a.selected{border-color: #07b53a;color: #07b53a}
.sec-pay .idTabs>li>a:hover{background-color: #07b53a;color: #fff}
.contentTabs{}
.contentTabs>.bx-tab{}
.bx-tab .box{position:relative;background: #fff; padding: 20px; border-radius: 1rem; box-shadow: 0 0 3px rgba(0,0,0,0.25)}
/*edit responsive*/
@media (max-width:1024px){
[id*="header"] .top-title .logo{min-height:90px}
.main-nav>ul>li{padding:0 10px!important}
.main-nav>ul>li>a{font-size:14px}
.h-text{font-size:150%; line-height: 120%;}
.msg-hl p{font-weight: 200}
.text-titile,.sec-aboutus .block-quote blockquote,.slogan article > a > h3,.tab_content,.sec-contact .bg address{font-size:16px}
.feature-icon h3{font-size: 14px}
.feature-icon p{font-size: 12px;font-weight: 200}
}
@media (max-width:991px){
body{background-size:cover}
.warpper>[class*="sec-"]{padding-left: .5rem;padding-right: .5rem}
}
@media (max-width:800px){
[id*="header"] .top-title .logo{min-height:inherit}
}
@media (max-width:767px){
}
@media (max-width:414px){
.page-home figure{margin-bottom: 20px}
.h-text{font-size:120%; line-height: 120%;}
.msg-hl .h-text{text-align: center}
.msg-hl .h-text br{display: none}
.msg-hl p{font-size: 12px;line-height: 110%;}
.msg-hl li{font-size: 13px; font-weight: 200}
.form-regist fieldset{padding: 10px}
}
