<header id="header">
  <div class="container">
	  <div class="top-title">
		<h1 itemscope="" itemtype="http://schema.org/Organization" class="logo">
			<a href="index.php" itemprop="url">LINE MY Works</a>
			<img src="di/logo.png" itemprop="logo">
		</h1>
	  </div>
	  
	  <div class="btn-nv-m" role="navigation">
			<a class="b-ex active" href="javascript:;" title="Expand">
					<span>&nbsp;</span>
					<span>&nbsp;</span>
					<span>&nbsp;</span>
				</a>
		</div>
		<nav id="navigation" class="main-nav" role="navigation">
			<ul id="nav-drop" class=" _chd-cl-md _chd-cl-md-xs-12">
				<li class="home"><a href="index.php" title="HOME">HOME</a></li>
				<li><button class="ui-btn-trans btn-focus" type="button" title="เรียนรู้เพิ่มเติม">เรียนรู้เพิ่มเติม</button></li>
				<li><a class="ui-btn-green" href="package.php" title="เริ่มใช้เลย">เริ่มใช้เลย</a></li>
			</ul>
		</nav>
	</div>
</header>