<script type="text/javascript">
$(document).ready(function(){

	
	$('.btn-focus').click(function(){
		$('html, body').animate({
			scrollTop: $("#learn-more").offset().top-78
		}, 1000);
	});
	//expand nav
	$('.btn-nv-m .b-ex, .main-nav>ul>li a').click(function(){
		$(this).toggleClass('active');
		$('body').toggleClass('expand');
	});
     /*header*/
	if($('#header').length > 0) {
		var top17 = $('#header').offset().top + parseFloat($('#header').innerHeight());
		$(window).scroll(function (event) {
			var y17 = $(this).scrollTop();
			if (y17 >= top17 ) {$('#header').addClass('fixed');} else {$('#header').removeClass('fixed');}
		});
	}
	
});


</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script>
$(document).ready(function() {
	$("[data-fancybox='modal']").fancybox({
		toolbar  : false,
		margin : [1, 0],
		infobar : false,
		protect : false,
		arrows : false,
        touch: false,
	});

	$('[data-fancybox="image"]').fancybox({
    	arrows : false,
    });
	
});
</script>


<script type="text/javascript" src="js/wow.min.js"></script>
<script>
    // WOW Animation
    new WOW().init();
</script>