
<div class="pdpa-bar">
	<div class="title">This website uses cookies to ensure you get the best experience on our website. <a href="#">Learn more</a></div> 
	<div class="ctrl-btn"><button class="ui-btn-blue" onClick="$(this).parents('.pdpa-bar').hide();">Got it!</button></div>
</div>
<footer class="footer">© 2021 INNO HUB CO.,LTD. ALL RIGHTS RESERVED..</footer>