<header id="gb-header">
<div class="navbar container">
	<div class="fix-l">
		<a href="#" class="menu-button d-none d-md-block">
                <img src="di/ic-menu.png">
            </a>
			<a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                <img src="di/ic-menu.png">
			</a>
			
	</div>
	
    <h1 itemscope="" itemtype="//schema.org/Organization" class="text-company">
        <a href="/" itemprop="url">Company <span>Name</span></a>
    </h1>
	
    
    <div id="main-nav" class="fix-r d-flex middle-xs flex-nowrap">

		<div class="sv-type d-inline">
			<div class="cv-select">
				<select style="width: auto" class="txt-box">
				   <option value="Department1">Department Sale</option>
				   <option value="Department2">Department Marketing</option>
				   <option value="Department3">Department IT</option>
				   <option value="Department4">Department HR</option>
				</select>
			</div>
		</div>
		<!--<div class="line"></div>-->
		<a class="login ui-btn-green-min btn-lg" href="javascript:;" onclick="$(this).hide(); $('#u-member').show();">Login</a>
		<div id="u-member" class="group" style="display: none;">
			<a class="login" href="javascript:;" onclick="$(this).next().slideToggle(100);"><i class="avatar"><img src="di/avatar-new.png" alt="Avatar"></i> Username</a>
			<ul class="drop-menu" style="display: none;">

					<li class="m-profile">
					<a href="profile.php" title="Profile">
						<i class="icon-r-text fas fa-user"></i>
					 	<span>My Profile <small>บัญชีของฉัน</small></span>
					</a>
					</li>
					
					<li class="m-membership">
					<a href="member-account.php" title="User management ">
						<i class="icon-r-text fas fa-user-shield"></i>
					 	<span>User management <small>จัดการสมาชิก</small></span>
					</a>
					</li>
					
					
					
					<li class="m-membership">
					<a href="company.php" title="Company">
						<i class="icon-r-text fas fa-archway"></i>
					 	<span>Company <small>[Super Admin]</small></span>
					</a>
					</li>
					
					<li class="m-membership">
					<a href="department.php" title="Project">
						<i class="icon-r-text fas fa-boxes"></i>
					 	<span>Department <small>[Super Admin]</small></span>
					</a>
					</li>

					<li>
						<a href="#" title="Sign out"><i class="fas fa-sign-out-alt"></i>
						<span>Log out</span></a>
					</li>
				</ul>
		</div>
	</div>
		
</div>
</header>

<div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                   
                    <li class="active">
                        <a href="#BC">
                            <i class="fas fa-broadcast-tower"></i> Broadcasts
                        </a>
                    </li>
                    <li>
                        <a href="member-account.php">
                            <i class="fas fa-user-shield"></i> User management
                        </a>
                    </li>
                    <!--<li>
                        <a href="#Company">
                            <i class="fas fa-file-signature"></i> Company
                        </a>
                    </li>-->
                    <li>
                        <a href="report.php">
                            <i class="fas fa-chart-pie"></i> Report
                        </a>
                    </li>
					<!--<li>
                        <a href="#menu" target="_blank">
                            <i class="fas fa-bars"></i> Menu
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
		<div class="sub-menu">
            <div class="scroll">
               					
				<ul class="list-unstyled" data-link="BC" id="menuBC">
                    <li>
                        <a href="#" class="rotate-arrow-icon collapsed active" data-toggle="collapse">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Send Message</span>
                        </a>
                        <div id="collapseBC" class="collapse active" data-parent="#menuBC">
                            <ul class="list-unstyled inner-level-menu">
                                <li>
                                    <a href="broadcasts.php">
                                        Push
                                    </a>
                                </li>
								<li>
                                    <a href="broadcasts-array.php">
                                        Push Message Array
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
					<li>
						<a href="#" class="rotate-arrow-icon collapsed active" data-toggle="collapse">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Setting</span>
                        </a>
						<div id="collapseBC2" class="collapse active" data-parent="#menuBC2">
                            <ul class="list-unstyled inner-level-menu">
							<li>
								<a href="broadcasts-acc.php">
									Groups Detail
								</a>
							</li>
							<li>
								<a href="broadcasts-acc-user.php">
									User Detail
								</a>
							</li>
							<li>
								<a href="broadcasts-setup.php">
									Setup Table
								</a>
							</li>
							<li>
								<a href="broadcasts-schedule.php">
									Schedule
								</a>
							</li>
							<!--<li>
								<a href="broadcasts-setting.php">
									<i class="fas fa-sliders-h"></i> Message Setting
								</a>
							</li>-->
							</ul>
						</div>
                    </li>

				</ul>
 
            </div>
        </div>
</div>