<script type="text/javascript" src="js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/bs-custom-file-input/bs-custom-file-input.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  bsCustomFileInput.init();
});
</script>
<script type="text/javascript">

$(document).ready(function(){
/* 03.02. Resize */

    var subHiddenBreakpoint = 1440;

    var searchHiddenBreakpoint = 768;

    var menuHiddenBreakpoint = 768;



    function onResize() {

      var windowHeight = $(window).outerHeight();

      var windowWidth = $(window).outerWidth();

      var navbarHeight = $(".navbar").outerHeight();



      var submenuMargin = parseInt(

        $(".sub-menu .scroll").css("margin-top"),

        10

      );



      if ($(".chat-app .scroll").length > 0 && chatAppScroll) {

        $(".chat-app .scroll").scrollTop(

          $(".chat-app .scroll").prop("scrollHeight")

        );

        chatAppScroll.update();

      }



      if (windowWidth < menuHiddenBreakpoint) {

        $("#app-container").addClass("menu-mobile");

      } else if (windowWidth < subHiddenBreakpoint) {

        $("#app-container").removeClass("menu-mobile");

        if ($("#app-container").hasClass("menu-default")) {

          $("#app-container").removeClass(allMenuClassNames);

          $("#app-container").addClass("menu-default menu-sub-hidden");

        }

      } else {

        $("#app-container").removeClass("menu-mobile");

        if (

          $("#app-container").hasClass("menu-default") &&

          $("#app-container").hasClass("menu-sub-hidden")

        ) {

          $("#app-container").removeClass("menu-sub-hidden");

        }

      }



      setMenuClassNames(0, true);

    }



    function setDirection() {

      if (typeof Storage !== "undefined") {

        if (localStorage.getItem("dore-direction")) {

          direction = localStorage.getItem("dore-direction");

        }

        isRtl = direction == "rtl" && true;

      }

    }



    $(window).on("resize", function (event) {

      if (event.originalEvent.isTrusted) {

        onResize();

      }

    });

    onResize();



 /* 03.05. Menu */
    var menuClickCount = 0;

    var allMenuClassNames = "menu-default menu-hidden sub-hidden main-hidden menu-sub-hidden main-show-temporary sub-show-temporary menu-mobile";

    function setMenuClassNames(clickIndex, calledFromResize, link) {

      menuClickCount = clickIndex;

      var container = $("#app-container");

      if (container.length == 0) {

        return;

      }



      var link = link || getActiveMainMenuLink();



      //menu-default no subpage

      if (

        $(".sub-menu ul[data-link='" + link + "']").length == 0 &&

        (menuClickCount == 2 || calledFromResize)

      ) {

        if ($(window).outerWidth() >= menuHiddenBreakpoint) {

          if (isClassIncludedApp("menu-default")) {

            if (calledFromResize) {

              $("#app-container").removeClass(allMenuClassNames);

              $("#app-container").addClass("menu-default menu-sub-hidden sub-hidden");

              menuClickCount = 1;

            } else {

              $("#app-container").removeClass(allMenuClassNames);

              $("#app-container").addClass("menu-default main-hidden menu-sub-hidden sub-hidden");

              menuClickCount = 0;

            }

            resizeCarousel();

            return;

          }

        }

      }



      //menu-sub-hidden no subpage

      if (

        $(".sub-menu ul[data-link='" + link + "']").length == 0 &&

        (menuClickCount == 1 || calledFromResize)

      ) {

        if ($(window).outerWidth() >= menuHiddenBreakpoint) {

          if (isClassIncludedApp("menu-sub-hidden")) {

            if (calledFromResize) {

              $("#app-container").removeClass(allMenuClassNames);

              $("#app-container").addClass("menu-sub-hidden sub-hidden");

              menuClickCount = 0;

            } else {

              $("#app-container").removeClass(allMenuClassNames);

              $("#app-container").addClass("menu-sub-hidden main-hidden sub-hidden");

              menuClickCount = -1;

            }

            resizeCarousel();

            return;

          }

        }

      }



      //menu-sub-hidden no subpage

      if (

        $(".sub-menu ul[data-link='" + link + "']").length == 0 &&

        (menuClickCount == 1 || calledFromResize)

      ) {

        if ($(window).outerWidth() >= menuHiddenBreakpoint) {

          if (isClassIncludedApp("menu-hidden")) {

            if (calledFromResize) {

              $("#app-container").removeClass(allMenuClassNames);

              $("#app-container").addClass("menu-hidden main-hidden sub-hidden");

              menuClickCount = 0;

            } else {

              $("#app-container").removeClass(allMenuClassNames);

              $("#app-container").addClass("menu-hidden main-show-temporary");

              menuClickCount = 3;

            }

            resizeCarousel();

            return;

          }

        }

      }



      if (clickIndex % 4 == 0) {

        if (isClassIncludedApp("menu-main-hidden")) {

          nextClasses = "menu-main-hidden";

        } else if (

          isClassIncludedApp("menu-default") &&

          isClassIncludedApp("menu-sub-hidden")

        ) {

          nextClasses = "menu-default menu-sub-hidden";

        } else if (isClassIncludedApp("menu-default")) {

          nextClasses = "menu-default";

        } else if (isClassIncludedApp("menu-sub-hidden")) {

          nextClasses = "menu-sub-hidden";

        } else if (isClassIncludedApp("menu-hidden")) {

          nextClasses = "menu-hidden";

        }

        menuClickCount = 0;

      } else if (clickIndex % 4 == 1) {

        if (

          isClassIncludedApp("menu-default") &&

          isClassIncludedApp("menu-sub-hidden")

        ) {

          nextClasses = "menu-default menu-sub-hidden main-hidden sub-hidden";

        } else if (isClassIncludedApp("menu-default")) {

          nextClasses = "menu-default sub-hidden";

        } else if (isClassIncludedApp("menu-main-hidden")) {

          nextClasses = "menu-main-hidden menu-hidden";

        } else if (isClassIncludedApp("menu-sub-hidden")) {

          nextClasses = "menu-sub-hidden main-hidden sub-hidden";

        } else if (isClassIncludedApp("menu-hidden")) {

          nextClasses = "menu-hidden main-show-temporary";

        }

      } else if (clickIndex % 4 == 2) {

        if (isClassIncludedApp("menu-main-hidden") && isClassIncludedApp("menu-hidden")) {

          nextClasses = "menu-main-hidden";

        } else if (

          isClassIncludedApp("menu-default") &&

          isClassIncludedApp("menu-sub-hidden")

        ) {

          nextClasses = "menu-default menu-sub-hidden sub-hidden";

        } else if (isClassIncludedApp("menu-default")) {

          nextClasses = "menu-default main-hidden sub-hidden";

        } else if (isClassIncludedApp("menu-sub-hidden")) {

          nextClasses = "menu-sub-hidden sub-hidden";

        } else if (isClassIncludedApp("menu-hidden")) {

          nextClasses = "menu-hidden main-show-temporary sub-show-temporary";

        }

      } else if (clickIndex % 4 == 3) {

        if (isClassIncludedApp("menu-main-hidden")) {

          nextClasses = "menu-main-hidden menu-hidden";

        }

        else if (

          isClassIncludedApp("menu-default") &&

          isClassIncludedApp("menu-sub-hidden")

        ) {

          nextClasses = "menu-default menu-sub-hidden sub-show-temporary";

        } else if (isClassIncludedApp("menu-default")) {

          nextClasses = "menu-default sub-hidden";

        } else if (isClassIncludedApp("menu-sub-hidden")) {

          nextClasses = "menu-sub-hidden sub-show-temporary";

        } else if (isClassIncludedApp("menu-hidden")) {

          nextClasses = "menu-hidden main-show-temporary";

        }

      }

      if (isClassIncludedApp("menu-mobile")) {

        nextClasses += " menu-mobile";

      }

      container.removeClass(allMenuClassNames);

      container.addClass(nextClasses);

      resizeCarousel();

    }

    $(".menu-button").on("click", function (event) {

      event.preventDefault();

      setMenuClassNames(++menuClickCount);

    });



    $(".menu-button-mobile").on("click", function (event) {

      event.preventDefault();

      $("#app-container")

        .removeClass("sub-show-temporary")

        .toggleClass("main-show-temporary");

      return false;

    });



    $(".main-menu").on("click", "a", function (event) {

      event.preventDefault();

      var link = $(this)

        .attr("href")

        .replace("#", "");

      if ($(".sub-menu ul[data-link='" + link + "']").length == 0) {

        var target = $(this).attr("target");

        if ($(this).attr("target") == null) {

          window.open(link, "_self");

        } else {

          window.open(link, target);

        }

        return;

      }



      showSubMenu($(this).attr("href"));

      var container = $("#app-container");

      if (!$("#app-container").hasClass("menu-mobile")) {

        if (

          $("#app-container").hasClass("menu-sub-hidden") &&

          (menuClickCount == 2 || menuClickCount == 0)

        ) {

          setMenuClassNames(3, false, link);

        } else if (

          $("#app-container").hasClass("menu-hidden") &&

          (menuClickCount == 1 || menuClickCount == 3)

        ) {

          setMenuClassNames(2, false, link);

        } else if (

          $("#app-container").hasClass("menu-default") &&

          !$("#app-container").hasClass("menu-sub-hidden") &&

          (menuClickCount == 1 || menuClickCount == 3)

        ) {

          setMenuClassNames(0, false, link);

        }

      } else {

        $("#app-container").addClass("sub-show-temporary");

      }

      return false;

    });



    $(document).on("click", function (event) {

      if (

        !(

          $(event.target)

            .parents()

            .hasClass("menu-button") ||

          $(event.target).hasClass("menu-button") ||

          $(event.target)

            .parents()

            .hasClass("sidebar") ||

          $(event.target).hasClass("sidebar")

        )

      ) {

        // Prevent sub menu closing on collapse click 

        if ($(event.target).parents("a[data-toggle='collapse']").length > 0 || $(event.target).attr("data-toggle") == 'collapse') {

          return;

        }

        if (

          $("#app-container").hasClass("menu-sub-hidden") &&

          menuClickCount == 3

        ) {

          var link = getActiveMainMenuLink();

          if (link == lastActiveSubmenu) {

            setMenuClassNames(2);

          } else {

            setMenuClassNames(0);

          }

        } else if ($("#app-container").hasClass("menu-main-hidden") && $("#app-container").hasClass("menu-mobile")) {

          setMenuClassNames(0);

        } else if (

          $("#app-container").hasClass("menu-hidden") ||

          $("#app-container").hasClass("menu-mobile")

        ) {

          setMenuClassNames(0);

        }

      }

    });



    function getActiveMainMenuLink() {

      var dataLink = $(".main-menu ul li.active a").attr("href");

      return dataLink ? dataLink.replace("#", "") : "";

    }



    function isClassIncludedApp(className) {

      var container = $("#app-container");

      var currentClasses = container

        .attr("class")

        .split(" ")

        .filter(function (x) {

          return x != "";

        });

      return currentClasses.includes(className);

    }



    var lastActiveSubmenu = "";

    function showSubMenu(dataLink) {

      if ($(".main-menu").length == 0) {

        return;

      }



      var link = dataLink ? dataLink.replace("#", "") : "";

      if ($(".sub-menu ul[data-link='" + link + "']").length == 0) {

        $("#app-container").removeClass("sub-show-temporary");



        if ($("#app-container").length == 0) {

          return;

        }



        if (

          isClassIncludedApp("menu-sub-hidden") ||

          isClassIncludedApp("menu-hidden")

        ) {

          menuClickCount = 0;

        } else {

          menuClickCount = 1;

        }

        $("#app-container").addClass("sub-hidden");

        noTransition();

        return;

      }

      if (link == lastActiveSubmenu) {

        return;

      }

      $(".sub-menu ul").fadeOut(0);

      $(".sub-menu ul[data-link='" + link + "']").slideDown(100);



      $(".sub-menu .scroll").scrollTop(0);

      lastActiveSubmenu = link;

    }



    function noTransition() {

      $(".sub-menu").addClass("no-transition");

      $("main").addClass("no-transition");

      setTimeout(function () {

        $(".sub-menu").removeClass("no-transition");

        $("main").removeClass("no-transition");

      }, 350);

    }



    showSubMenu($(".main-menu ul li.active a").attr("href"));



    function resizeCarousel() {

      setTimeout(function () {

        var event = document.createEvent("HTMLEvents");

        event.initEvent("resize", false, false);

        window.dispatchEvent(event);

      }, 350);

    }
	
});
/* end menu*/

$(document).ready(function(){
	/*toggle accordion */
	$('.accordion .hd-ac').click(function() {
		if ($(this).hasClass( 'active' )) {
		   //$(this).removeClass('active').next().removeClass('active').slideUp(200);
		} else {
		   $('.accordion .hd-ac').removeClass('active').next().removeClass('active').slideUp(200);
		   $(this).toggleClass('active').next().toggleClass('active').slideToggle(200);
		}
		//$(this).toggleClass('active').next().toggleClass('active').slideToggle(200);
    });
	
	/*toggle submenu */
	$('.sub-menu .list-unstyled .rotate-arrow-icon').click(function() {
		if ($(this).hasClass( 'active' )) {
		   $(this).removeClass('active').next().removeClass('active').slideUp(200);
		} else {
		   //$('.accordion .hd-ac').removeClass('active').next().removeClass('active').slideUp(200);
		   $(this).toggleClass('active').next().toggleClass('active').slideToggle(200);
		}
		//$(this).toggleClass('active').next().toggleClass('active').slideToggle(200);
    });
	
	/*Department Selec*/
	
	
	//back to top
	$(window).scroll(function(){
		if ($(this).scrollTop() > 100) {
			$('#fix-btn').css({bottom:"55px"});
		} else {
			$('#fix-btn').css({bottom:"-70px"});
		}
	});
	$('#back2top').click(function(){
		$('html, body').animate({scrollTop: '0px'}, 800);
		return false;
	});
	//expand nav
	$('.btn-nv-m .b-ex').click(function(){
		$(this).toggleClass('active');
		$('body').toggleClass('expand');
	});
	$('.main-nav li a').click(function(){
		$(this).removeClass('active');
		$('body').removeClass('expand');
	});
	$('.sw-nav>a.btn').click(function(){
		$(this).toggleClass('active');
		$(this).next().slideToggle(300);
	});
	
	/*searchbar*/
	$('.sw-view>*').click(function() {
		if ($(this).hasClass( 'active' )) {
		} else {
		   $('.sw-view>*').removeClass('active');
		   $(this).toggleClass('active');
		}
    });
    
    if($('#gb-header').length > 0) {
		var top17 = $('#gb-header').offset().top + parseFloat($('#gb-header').innerHeight());
		$(window).scroll(function (event) {
			var y17 = $(this).scrollTop();
			if (y17 >= top17 ) {$('#gb-header').addClass('fixed');} else {$('#gb-header').removeClass('fixed');}
		});
	}

});




// Can also be used with $(document).ready()
$(window).load(function() {
  $('.big-slider').flexslider({
    animation: "slide",
	smoothHeight: true,
  });
 

});




</script>